#**Archisha Sinha**
#Domain: Natural Language Processings
#Topic: Introduction to Regular Expressions (Regex)

In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import re

a.	Read all the content present inside the file

In [ ]:
file1= open("Hello.txt", "r")
print(file1.read())

Hello world
Hello Python
Good morning
How are you

In [ ]:
#i.	Read only the first 5 characters of the file.
file2= open("Hello.txt", "r")
print(file2.read(5))

Hello

In [ ]:
#ii.	Read the content of the file on a line by line basis.
file3= open("Hello.txt", "r")
for x in file3:
  print(x)

Hello world

Hello Python

Good morning

How are you

In [ ]:
#iii.	Read all the lines present inside the text file including the newline characters.
file4= open("Hello.txt", "r")
print(file4.read(),"\n")

Hello world
Hello Python
Good morning
How are you

In [ ]:
#iv.	Read a specific line from a File
file5 = open("Hello.txt", "r")
content = file5.readlines()
print("Third line of the file")
print(content[2])

Third line of the file
Good morning

--------------------------------------

b.	Write content in a file

In [ ]:
file6= open("Test.txt", "a")

In [ ]:
#i.	Write the String ‘Hello World’ into the ‘test.txt’ file
file6.write("Hello World ")

12

In [ ]:
#ii.	Write  “Hello World” in first line and “Hello Python” in second line
file6.write("Hello World\n")
file6.write("Hello Python\n")

13

In [ ]:
file7 = open("Test.txt", "r")
cont = file7.readlines()
print(cont)

['Hello World Hello World\n', 'Hello Python\n', 'applebananacherrydragonfruitgrapes']

In [ ]:
fruits = ["apple", "banana", "cherry", "dragonfruit", "grapes"]
for i in fruits: file6.writelines(i)

c. Write a program to read resume  and its details

In [ ]:
file8 = open("Biodata.txt", "r")
print(file8.read())

Resume
Name: Abc
Age: 25yrs
Qualification: Masters
Degree: Engineering

a.	Search for a sequence that starts with "he", followed by two (any) characters, and an "o"

In [ ]:
txt1 = "hello world"
result1 = re.search("he\w\wo", txt1)
print(result1.group())

hello

b.	For txt = "The rain in Spain" , search the string to see

In [ ]:
txt2 = "The rain in Spain"

In [ ]:
# iv.	starts with "The"
result2 = txt2.startswith("The")
print("Starts with 'The':", result2)

# v. ends with "Spain"
result3 = txt2.endswith("Spain")
print("Ends with 'Spain':", result3)

# vi. starts with "The" and ends with "Spain"
result4 = txt2.startswith("The") and txt2.endswith("Spain")
print("Starts with 'The' and ends with 'Spain':", result4)

Starts with 'The': True
Ends with 'Spain': True
Starts with 'The' and ends with 'Spain': True

c.	Find all lower/Upper case characters alphabetically between "a" and "m": txt = "The rain in Spain"

In [ ]:
lowercase_characters = []
uppercase_characters = []

for char in txt2:
    if char.isalpha():
        if 'a' <= char.lower() <= 'm':
            lowercase_characters.append(char)
        elif 'A' <= char <= 'M':
            uppercase_characters.append(char)

print("Lowercase characters between 'a' and 'm':", lowercase_characters)
print("Uppercase characters between 'A' and 'M':", uppercase_characters)

Lowercase characters between 'a' and 'm': ['h', 'e', 'a', 'i', 'i', 'a', 'i']
Uppercase characters between 'A' and 'M': []

d.	Search for the first white-space character in the string: txt = "The rain in Spain"

In [ ]:
first_whitespace_index = txt2.index(" ")
print("Index of the first white-space character:", first_whitespace_index)

Index of the first white-space character: 3

e.	Replace every white-space character with the number 9 in any given string

In [ ]:
modified_txt = txt2.replace(" ", "9")
print("Modified string:", modified_txt)

Modified string: The9rain9in9Spain

f.	Check if an email ID is valid or not

In [ ]:
def is_valid_email(email):
    # Regex pattern for email validation
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

    # Use the regex pattern to match the email
    match = re.match(pattern, email)

    # Check if the match is found (valid email) or not
    if match:
        return True
    else:
        return False

# Test the function with different email addresses
email1 = "example@example.com"
email2 = "invalid_email.com"

print("Email 1:", is_valid_email(email1))
print("Email 2:", is_valid_email(email2))

Email 1: True
Email 2: False